
.ms-Button.ms-Button--primary.root-152 {
     background-color: #2c9942  !important;
    border: none;
}

.alignrightl{
  color: #2c9942  !important;
}

.ms-Button.ms-Button--primary.root-148{
background-color: #2c9942 !important;
border: none !important;
}