
.ms-Button.ms-Button--primary.root-152 {
     background-color: #7fc4de  !important;
    border: none;
}

.alignrightl{
  color: #7fc4de  !important;
}

.ms-Button.ms-Button--primary.root-148{
background-color: #7fc4de !important;
border: none !important;
}
.loader-center {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.8); /* optional overlay */
  z-index: 1000;
}
